@import url("https://fonts.googleapis.com/css?family=Quicksand");
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
html {
  height: 100vh;
  background: rgb(32, 45, 61);
  background: linear-gradient(
    0deg,
    rgba(32, 45, 61, 1) 0%,
    rgba(56, 75, 99, 1) 100%
  );
}
.test {
  outline: 1px solid red;
}
.up-in-toggle {
  padding: 0%;
  input {
    clip: rect(0, 0, 0, 0);
    height: 1px;
    width: 1px;
    border: 0;
    overflow: hidden;
    &:checked + label {
      background: rgb(62, 193, 182);
      background: linear-gradient(
        0deg,
        rgba(62, 193, 182, 1) 0%,
        rgba(98, 227, 204, 1) 100%
      );
      color: white;
      font-weight: 500;
      box-shadow: 0 7px 20px rgba(0, 0, 0, 0.09), 0 6px 6px rgba(0, 0, 0, 0.13);
    }
  }
  label {
    display: inline-block;
    width: 60px;
    background-color: rgb(73, 90, 111);
    color: rgb(165, 173, 183);
    text-align: center;
    font-family: "Quicksand", sans-serif;
    font-size: 0.8rem;
    padding: 6px 6px;
    float: left;
    transition: all 0.1s ease-in-out;
    &:hover {
      cursor: pointer;
    }
  }
}

.up-in-toggle label:first-of-type {
  border-radius: 15.5px 0 0 15.5px;
}

.up-in-toggle label:last-of-type {
  border-radius: 0 15.5px 15.5px 0;
}
ul.ks-cboxtags {
  list-style: none;
  padding: 20px; }
  ul.ks-cboxtags li {
    display: inline; }
    ul.ks-cboxtags li label {
      display: inline-block;
      background-color: rgba(255, 255, 255, 0.9);
      border: 1px solid rgba(139, 139, 139, 0.3);
      color: #adadad;
      border-radius: 25px;
      white-space: nowrap;
      margin: 3px 0px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
      -webkit-tap-highlight-color: transparent;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s;
      font-weight: 400; }

ul.ks-cboxtags li label {
  padding: 8px 12px;
  cursor: pointer; }
  ul.ks-cboxtags li label::before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "FontAwesome";
    font-weight: 400;
    font-size: 12px;
    padding: 2px 6px 2px 2px;
    content: "\f067";
    -webkit-transition: -webkit-transform .3s ease-in-out;
    transition: -webkit-transform .3s ease-in-out;
    -o-transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out;
    transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

ul.ks-cboxtags li input[type="checkbox"]:checked + label::before {
  content: "\f00c";
  -webkit-transform: rotate(-360deg);
  -ms-transform: rotate(-360deg);
  transform: rotate(-360deg);
  -webkit-transition: -webkit-transform .3s ease-in-out;
  transition: -webkit-transform .3s ease-in-out;
  -o-transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out; }

ul.ks-cboxtags li input[type="checkbox"]:checked + label {
  border: 1px solid #fec771;
  background-color: #fec771;
  color: #fff;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

ul.ks-cboxtags li input[type="checkbox"] {
  display: absolute; }

ul.ks-cboxtags li input[type="checkbox"] {
  position: absolute;
  opacity: 0; }